/* reset */
* {
    margin: 0;
    padding: 0;
}
/* basic element styling */
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
section {
    overflow: hidden;
}

/* Navbar */
.nav-item {
    padding: 10px 15px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #3c3c3c;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #f06c4e;
    font-weight: bold;
}

/* Search bar */
.form-control {
    background-color: #f8f7f5;
    padding: 20px;
    border: none;
    border-radius: 5px;
}

.btn {
    padding: 10px 30px;
    color: #ffffff;
    background: #f06c4e;
    border: none;
}

.search-box {
    position: relative;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-start-start-radius: 0.25rem;
    border-start-end-radius: 0.5rem;
    border-end-start-radius: 0.25rem;
    border-end-end-radius: 0.5rem;
}
